@charset "utf-8";
/* CSS Document */

video {
	position: absolute;
	top: 10%;
	
	transform: translate(-50%,-50%);
	min-width: 200%;
	min-height: 100%;
	width: auto;
	height: auto;
	
	
}

.jumbotron {
    display: block;
    width: 100%;
    text-align: center;
/*    background: url(../photos/happy-hour-banner.jpg)no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	color: white;
	height: 400px;
	margin-top: -125px;

	
}
.jumbotronShips {
    display: block;
    width: 100%;
    text-align: center;
    background: url(../photos/ships.jpg)no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	color: white;
	margin-bottom: 0px;
	margin-top: -55px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
.navigation {
	margin-top: 15px;
	margin-left: 20px;
	padding-bottom: 10px;
	font-family: 'Playfair Display', serif;
	position: absolute;
	z-index: 1;
}
#h3Bottom {
	margin-left: 20px;
}
img {
	height: 450px;
	width: 450px;
}


h1 {
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.pictures {
	margin-top: 255px;
	padding-left: 88px;
	width: 1508px;
}

#logo {
	margin-left: 500px;
}
#week {
	margin-left: 550px;
	
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;
	
}
	
